
PORT=5050
ACCESS_KEY=0912

EMAIL_1=your1@gmail.com
APP_PASSWORD_1=xxxx xxxx xxxx xxxx
FROM_NAME_1=Daniel

EMAIL_2=your2@gmail.com
APP_PASSWORD_2=xxxx xxxx xxxx xxxx
FROM_NAME_2=Daniel

EMAIL_3=your3@gmail.com
APP_PASSWORD_3=xxxx xxxx xxxx xxxx
FROM_NAME_3=Daniel

ALLOW_LINKS=true
MESSAGE_LINK=https://m.me/1212398091953726
