# Copy this file to .env and fill your Gmail + App Passwords
# cp .env.example .env

PORT=5050

# Account 1
EMAIL_1=your1@gmail.com
APP_PASSWORD_1=xxxx xxxx xxxx xxxx
FROM_NAME_1=Daniel

# Account 2 (optional)
EMAIL_2=your2@gmail.com
APP_PASSWORD_2=xxxx xxxx xxxx xxxx
FROM_NAME_2=Daniel

# Account 3 (optional)
EMAIL_3=your3@gmail.com
APP_PASSWORD_3=xxxx xxxx xxxx xxxx
FROM_NAME_3=Daniel

# Promo Messenger link
ALLOW_LINKS=true
MESSAGE_LINK=https://m.me/1212398091953726
